STUDENT_ID_SUFFIX=xxxx
ORACLE_PWD=

# DU NOT EDIT IF YOU DON'TMYSQL_REPO_REF KNOW WHAT ARE YOU DOING

# if you run this script in docker, you need to pass the current directory's location on the host machine to WORK_DIR_HOST.
WORK_DIR_HOST=

TZ=Asia/Shanghai
